body {
  padding: 0;
  margin: 0;
  background: #ECEEF1;
}

a{
  text-decoration: none;
}

.topMost {
  height: 80px;
  width: 100%;
}

.signIn {
  width: 30%;
  height: 80px;
  margin-left: 60%;
  padding-left: 130px;
  padding-top: 10px;
  display: flex;
}

main {
  width: 100%;
  height: 600px;
  margin-top: 30px;
}

.logoSection {
  width: 40%;
  height: 100px;
  margin: auto;
  background-color:pink;
}

.mainSection {
  width: 40%;
  height: 500px;
  margin: auto;
  background-color: yellow;
}

.signinBtn{
  background-color: #0077C5;
  width: 100px;
  height: 35px;
  margin-left: 10px;
  border: 1px solid black;
  color: #FFFF;
  border-radius: 5px;
}

.mainLogo{
  width: 100px;
  margin-left: 40%;
}

.logos{
  display: flex;
}

.logos img {
  width: 30px;
}

.logos span{
  color: gray;
  font-size: larger;
}

footer {
  height: 40px;
  width: 100%;
  background-color: teal;
}
